
<div class="row">
	<div class="col-3">
		<table border="2" aria-label="List of the lines that have error in the file 1">
			<thead>
				<tr>
					<th id="lineNumber">File 1: Errors Line No</th>
				</tr>
			</thead>
			<tbody th:each="error : ${errors1}">
				<tr>
					<td class="text-center"><small><span th:text="${error}"></span></small></td>
				</tr>
			</tbody>

		</table>
	</div>
	<div class="col-3">
		<table border="2" aria-label="List of the lines that are repeated in the file 1">
			<thead>
				<tr>
					<th id="lineNumber">File 1: Repeated Line No</th>
				</tr>
			</thead>
			<tbody th:each="repeat : ${repeats1}">
				<tr>
					<td class="text-center"><small><span th:text="${repeat.lineNumber}"></span></small></td>
				</tr>
			</tbody>

		</table>
	</div>	
		
	<div class="col-3">
		<table border="2" aria-label="List of the lines that have error in the file 2">
			<thead>
				<tr>
					<th id="lineNumber">File 2: Errors Line No</th>
				</tr>
			</thead>
			<tbody th:each="error : ${errors2}">
				<tr>
					<td class="text-center"><small><span th:text="${error}"></span></small></td>
				</tr>
			</tbody>

		</table>
	</div>

	<div class="col-3">
		<table border="2" aria-label="List of the lines that are repeated in the file 2">
			<thead>
				<tr>
					<th id="lineNumber">File 2: Repeated Line No</th>
				</tr>
			</thead>
			<tbody th:each="repeat : ${repeats2}">
				<tr>
					<td class="text-center"><small><span th:text="${repeat.lineNumber}"></span></small></td>
				</tr>
			</tbody>

		</table>
	</div>		
	
</div>
